.logo {
    width: 200px;
    float: left;
    margin-right: 15px;
}

.form-group {
    max-width: 500px;
}

.actions {
    padding: 10px 0;
}

.glyphicon-euro {
    font-size: 12px;
}

.page-header {
    background-color: darkgray;
    padding: 30px;
}

.branding {
    text-align: center;
}